@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import-normalize;

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --main-color: #0079FF;
  --main-color-hover: #60ABFF;

  --white: #FFF;

  --gray-50: #F6F8FF;
  --gray-100: #697C9A;
  --gray-200: #4B6A9B;
  --gray-300: #2B3442;
  --gray-400: #1E2A47;
  --gray-500: #141D2F;

  --error-color: #F74646;

  --shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #98c1ef;
}

.bg {
  display: flex;
  gap: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;
  height: 600px

}

@media (max-width: 710px) {
  .bg {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding-bottom: 20px;
    padding-bottom: 120px;
  }
  
}
